h2 {
    text-align: center;
}

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-top: 15%;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    justify-content: space-around;
}

.flex-item {
    background: black;
    padding: 2px;
    width: 2px;
    height: 120px;
    margin-top: 0px;
    border-radius: 50px;
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}

#disks {
    border-radius: 7px;
    /* position: center; */
    text-align: center;
    margin: 0 0 0 0;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    cursor: pointer;
}

.space {
    margin-top: 80px;
}


.disk-4 {
    width: 17.5px;
    background-color: #e91e63;
    list-style: none;
    height: 16px;
    display: block;
    border-radius: 9px;
    font-size: 0;
    z-index: 20;
    align-items: flex-end;
}

.disk-1 {
    width: 105px;
    background-color: #ffc107;
    list-style: none;
    height: 16px;
    display: block;
    border-radius: 9px;
    font-size: 0;
    z-index: 20;
}

.disk-2 {
    width: 87.5px;
    background-color: #8bc34a;
    list-style: none;
    height: 16px;
    display: block;
    border-radius: 9px;
    font-size: 0;
    z-index: 20;
}

.disk-3 {
    width: 70px;
    background-color: #00bcd4;
    list-style: none;
    height: 16px;
    display: block;
    border-radius: 9px;
    font-size: 0;
    z-index: 20;

}